@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    flex-wrap: wrap;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

section {
    padding: 100px 0;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.about,
.services,
.skills,
.teams,
.contact,
footer {
    font-family: 'Poppins', sans-serif;
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

.protLogo {
    width: 100%;
    max-width: 150px;
}

.logo {
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-left: 5%;
}

.navbar {
    background-image: Radial-gradient(to bottom right, #4ca1af, #c4e0e5);
}

.icon-color {
    background-color: white;
}

.homesec {
    background-image: linear-gradient(to bottom right, #edfff5, #edfff5);
    height: 105vh;
    background-size: cover;
}

.nav-item {
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.nav-item:hover {
    background: linear-gradient(to bottom right, #02e571, #00954a);
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid #02e571;
    -webkit-background-clip: text;
}

.navbar-nav a.active,
.nav-item:hover {
    background: linear-gradient(to bottom right, #02e571, #00954a);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    border-bottom: 2px solid #02e571;
}

.button {
    color: #0c0521;
    font-weight: 700;
    font-size: 16px;
    background-color: white;
    width: 160px;
    height: 50px;
    border-width: 0;
    border-radius: 20px;
    margin-right: 10px;
    text-align: center;
}

.button:hover {
    background: linear-gradient(to right, #ff0e2e, #1e0205);
    text-decoration: none;
    color: black;
}

.btn {
    font-weight: 600;
    color: #0c0521;
    font-size: 15px;
    background-color: white;
    width: 80px;
    height: 35px;
    border-width: 0px;
    border-radius: 6px;
    margin-left: 35px;
    margin-top: 5px;
}

.btn:hover {
    background-color: #fefc8a;
    text-shadow: #fefc8a;
    color: white;
}

.title {
    font-size: 25px;
}

.name {
    color: orangered;
}

.img {
    margin-top: 10%;
    height: 360px;
    width: 360x;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-width: 0;
}

.text {
    margin-top: 10%;
}

.icon1 {
    font-size: 25px;
    color: black;
}

.icon-container {
    background-color: transparent;
    border-color: white;
    border: 1px solid white;
    border-radius: 100px;
    margin: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
}

.icon-container:hover {
    background: linear-gradient(to right, #EE9CA7, #FFDDE1);
    box-shadow: 0px 0px 20px #EE9CA7;
    text-decoration: none;

}


.aboutmesection {
    background-color: whitesmoke;
}

.heading1 {
    font-family: "Roboto";
    font-size: 36px;
    color: white;
    font-weight: bold;
}

.img2 {
    margin-top: 15%;
    height: 360px;
    width: 360x;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-width: 0;
}

.paragraph {
    color: white;
    font-size: 20px;
    font-weight: 500;
}


.skills-section {
    height: 60vh;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

}

.heading3 {
    font-family: "Roboto";
    font-size: 36px;
    color: #0c0521;
    font-weight: bold;
    margin-bottom: 13%;
}

.skills-card {
    background-color: #323f4b;
    border-radius: 8px;
    border-width: 0px;
    width: 200px;
    padding: 10px;
}

.skills-card-image {
    width: 75px;
    height: 75px;
}

.skills-card-title {
    color: white;
    font-family: "roboto";
    font-size: 25px;
    font-weight: 600;
}

.projects-section {
    background-image: radial-gradient(#8687e3, #cecff0);
}

.card-container {
    background-color: #323f4b;
    border-radius: 8px;
    width: 400px;
}

.img3 {
    margin-top: 10px;
    margin-left: 20px;
    width: 80px;
    height: 80px;
}

.p {
    font-family: "Roboto";
    font-size: 15px;
    color: #E2D1C3;
    font-weight: 500;
}

.card-heading {
    font-family: "Roboto";
    font-size: 25px;
    color: white;
    font-weight: 500;
}

.para {
    font-family: "Roboto";
    font-size: 18px;
    color: #E2D1C3;
}

.projects-card-link {
    color: #cced00;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: bold;
}

.resume-section {
    background-image: linear-gradient(to left, #664caf, #c4e0e5);
    height: 50vh;
    background-size: cover;
}

.style1 {
    color: #1f2933;
}

.contact-section {
    background-image: radial-gradient(#FDFCFB, #E2D1C3);
}

.icon {
    color: #5a7184;
    font-size: 18px;
}

.para1 {
    font-family: "Roboto";
    color: #323f4b;
    font-size: 14px;
}

.heading2 {
    font-size: 20px;
    color: orangered;
    font-weight: 500;
}

h1:hover {
    border-width: 25px;
    color: black;
    cursor: pointer;
    text-shadow: 0px 0px 15px white;
}

/* skills section styling */
.skills .title::after {
    content: "what i know";
}

.skills .skills-content .column {
    width: calc(50% - 30px);
}

.skills .skills-content .left .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left p {
    text-align: justify;
}

.skills .skills-content .left a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
    color: crimson;
    background: none;
}

.skills .skills-content .right .bars {
    margin-bottom: 15px;
}

.skills .skills-content .right .info {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right span {
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
}

.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}

.skills-content .right .html::before {
    width: 90%;
}

.skills-content .right .css::before {
    width: 80%;
}

.skills-content .right .js::before {
    width: 70%;
}

.skills-content .right .Java::before {
    width: 80%;
}

.skills-content .right .mysql::before {
    width: 70%;
}

/* about section styling */
.about .title::after {
    content: "who i am";
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: crimson;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: crimson;
    background: none;
}

.services,
.teams {
    color: #fff;
    background: #111;
}

.services .title::before,
.teams .title::before {
    background: #fff;
}

.services .title::after,
.teams .title::after {
    background: #111;
    content: "what i Done";
}

.services .serv-content .card {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.services .serv-content .card:hover {
    background: crimson;
}

.services .serv-content .card .box {
    transition: all 0.3s ease;
}

.services .serv-content .card:hover .box {
    transform: scale(1.05);
}

.services .serv-content .card i {
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}

.services .serv-content .card:hover i {
    color: #fff;
}

.services .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}